  <!-- Include Head -->
  <%- include('partials/head') %>
  <!-- Include /Head -->

      <!-- Header -->
  <%- include('partials/header') %>
  <!-- /Header -->

<body>

    <h1>AQUI DEBE DE APARECER LA PAGINA DE ERRORES</h1>

<!-- / ESTO ESTA BLOQUEADO HASTA SABER DE DONDE JALA EL ERROR 
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
-->


<hr> 
<%- include('./partials/footer') %>
<hr>
</html>
